
*{
background-color: #222222;
color: #cccccc;
font-family: helvetica, sans-serif;
}
body{
    height:100%;
    }
.lecontenu{
    height:100%; 
    width:300px; 
    margin:auto;
    }
.laboite{
    position:relative;
    display:block;
    width:300px;
    height:300px;
    background-color:#225599;
    }
p{text-align:center;}